form{
    font-family: sans-serif;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding: 0.4%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 10px #cccc;
    border-radius: 4px;
}
form  input[type='text'],[type='date']{
    margin-bottom: 1%;
    font-family: sans-serif;

    border-radius: 3px;
    border: 1px solid black;

}
form  button{
    width: 30%;
    margin: 0 auto;
    color: white;
    height: 2rem;
    border-radius: 4px;
}
button{
    background: #0aadc9;
    border: none;
}